{
  "name": "@friendlyrobot/{{name}}",
  "version": "0.0.1",
  "license": "BSD-2-Clause",
  "description": "",
  "main": "./dist/bundle.js",
  "publishConfig": {
    "access": "public"
  },
  "scripts": {
    "prepublish": "node ../../tools/compile.js",
    "build": "webpack"
  },
  "author": ""
}
